@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Regular.ttf") format("truetype");
    font-display: swap;
}

body{
    background-color: rgb(239, 245, 250);
    font-family: "Ubuntu", 'Franklin Gothic';
    /* font-family: "Ubuntu",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

nav{
    display:flex;
    align-items: center;
}

nav .fa-solid.fa-cloud-sun{
    color:orange;
}

nav p{
    font-size: 2rem;
    color:blue;
    font-weight: bold;
}

.h1{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: inherit;
    text-align: center;
    color:rgb(32, 32, 252);
    margin-top:2rem;
}

h1 .fa-solid.fa-location-dot{
    color:rgb(32, 32, 252);
    font-size:1.8rem;
}

.jump{
    animation-name:moveUp;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes moveUp{
    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(-5px);
    }
}

#date-area{
    color:rgba(94, 109, 192, 0.562);
    text-align: center;
}

.fa-solid.fa-cloud-sun{
    margin:1rem;
    font-size:2rem;
    color:rgb(32, 32, 252);
}

#h1-city-file{
    max-width:20ch;
    margin:1rem auto;
    margin-top:4rem;
    font-size: 3rem;
}

.input-container{
    border:3px solid rgb(32, 32, 252);
    height:150px;
    width:300px;
    padding:1rem;
    border-radius: 10px;
    margin: auto;
    margin-top:2.5rem;
    display:flex;
    flex-direction: column;
    gap:20px;
}

.input-container input{
    border:3px solid rgba(32, 32, 252, 0.692);
    padding:1rem;
    font-family: inherit;
    border-radius: 10px;
    height:40px;
    font-size:1rem;
}

.input-container input:focus{
    outline-width: 3px;
    outline-color: rgb(32, 32, 252);
}

.input-container input:hover{
    background-color: rgba(228, 228, 228, 0.158);
}

.input-container a{
    width:90%;
    padding:1rem;
    border:none;
    background-color: rgb(32, 32, 252);
    color:white;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}

.input-container a:hover{
    cursor: pointer;
    background-color: rgba(32, 32, 252, 0.863);
}

#weather-report-area{
    border: 1px solid white;
    width: 200px;
    height:200px;
    margin:auto;
    margin-top:2rem;
    margin-bottom:2rem;
    border-radius: 10px;
    background-color: rgb(32, 32, 252);
    color:white;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(32, 32, 252);
}

#degrees{
    font-size: 3rem;
    margin: 2rem;
    line-height: 1;
}

#under-area{
    margin-top:-5px;
    margin-bottom: 5rem;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

#weather-icon{
    font-size:4rem;
}

#description{
    font-size:1.25rem;
    max-width: 1och;
    margin-bottom: 1.5rem;
}

#metrics-area{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:fit-content;
    padding:1.5rem;
    border-radius: 10px;
    margin:auto;
    margin-bottom:2rem;
    box-shadow: 2px 2px rgb(32, 32, 252);
}

.fa-solid.fa-umbrella{
    color:rgb(32, 32, 252);
}

.fa-solid.fa-droplet{
    color:rgb(32, 32, 252);
}

.fa-solid.fa-wind{
    color:rgb(32, 32, 252);
}
.span-elements{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.span-elements .span-text{
    font-family: inherit;
    font-size:1rem;
    font-weight: bold;
    color:rgb(4, 4, 59);
}

.above-hourly{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    min-width:100px;
    max-width:500px;
    margin: 0 auto;
}

.above-hourly p{
    margin-right: auto;
    font-weight:bold;
    color:rgb(46, 46, 46);
}

.above-hourly a{
    color: rgba(94, 109, 192, 0.664);
    font-weight: bold;
    text-decoration: none;
    transition: text-decoration 0.5s ease-in-out;
}

.above-hourly span{
    color:rgba(94, 109, 192, 0.664);
    font-weight:bold;
}

.above-hourly a:hover{
    text-decoration: underline;
}

.span-move{
    animation-name: move-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes move-right {
    from{
        transform: translateX(0px);
    }

    to{
        transform: translateX(4px);
    }
}

#hourly-forecasts-area{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding:1rem;
}

@media(max-width:468px){
    #hourly-forecasts-area{
        display:grid;
        grid-template-columns: 1fr 1fr;
        row-gap:10px;
    }

    #metrics-area{
        min-width:200px;
        width:fit-content;
    }
}

.hourly-forecast{
    border:0px outset white;
    display:flex;
    flex-direction: column;
    gap:1.5rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 60, 255, 0.781);
    color:white;
    width:90px;
    height:140px;
    padding:1rem;
    border-radius: 50px;
    font-size: 1.25rem;
    box-shadow: 0px 0px 5px grey;
    border:2px solid white;
    box-shadow:2px 2px rgba(32, 32, 252);
}

.hour{
    font-size:1rem;
    color:white;
}

.icon{
    color:blue;
    font-size:3rem;
}

.deg{
    font-size:1rem;
    color:white;
}